<body>
<div class="panel">
  <div class="small-12 medium-10 medium-centered large-8 large-centered columns">
  <b>Welcome, <%= current_user.username %>!</b><br><br>
  <% unless current_user.avatar.url.nil? %>
  <li class="picture"><%= image_tag(current_user.avatar) %></li>
  <% end %>
  <div class="text-center">
    <a href="<%= edit_user_registration_path %>" class="button round">Edit Profile</a>
  </div>
</div>
<div>
  <% if @events.empty? %>
    You are not attending any events.<br><br>
    <div class="text-center">
      <a href="<%= events_path %>" class="button">All Events</a>
  <% else %>
  <b>Events You Are Attending:</b><br>
    <% @events.each do |event| %>
      <%= event.event_name %><br><br>
    <% end %>
  <% end %>
</div>

<div>
  <% if @hosted_events.empty? %>
      You are not hosting any events.<br><br>
      <div class="text-center">
        <a href="<%= new_event_path %>" class="button">Add a New Event!</a>
      </div>
  <% else %>
      <b>Events You Are Hosting:</b><br>
    <% @hosted_events.each do |host_event| %>
      <% if host_event.user_id == current_user.id %>
        <%= host_event.event_name %><br><br>
        <p class="inline"><%= link_to "Edit Event", edit_event_path, class: "button round small edit-info" %>
          <%= link_to "Delete Event", event_path, method: :delete, class: "button round small org-button" %></p>
      <% end %>
    <% end %>
  <% end %>

  <div class="text-center">
    <a href="<%= events_path %>" class="button">All Events</a>
  </div>

</div>
</div>
</body>
