<div class="title-header show-footer">
  <h1><%= @event.event_name %></h1>
  <p><%= @event.description %></p>

  <% if @event.deletable_by(current_user) %>
  <div class="small-6 columns text-center">
    <%= button_to "Edit Event", edit_event_path, class: "button", method: "get", label: "Edit Event"%>
  </div>
  <div class="small-6 columns text-center">
    <%= button_to "Delete Event", event_path, class: "button", method: "delete", label: "Delete Event"%>
  </div>
  <% end %>


  <div class="text-center">
    <a href="<%= events_path %>" class="button">All Events</a>
  </div>

</div>
