<body>
<div class="title-header show-footer">
  <h1><%= @event.event_name %></h1>
  <p><%= @event.description %></p>
  <a href="<%= event_event_attendees_path(@event) %>" class="button">Attend</a>

  <div class="text-center">
    <a href="<%= events_path %>" class="button">All Events</a>
  </div>

    <% @attendees.each do |attendee| %>
    <div>
      <%= attendee.username %>
      <% end %>
    </div>
</div>
</body>
