<body>
<div class="panel">
  <div class="small-12 medium-10 medium-centered large-8 large-centered columns">
    <h3><%= @event.event_name %></h3>
    <%= @event.description %>
    <%= @event.venue_name %><br>
    <%= @event.address %><br>
    <%= @event.city %>, <%= @event.state %> <%= @event.zip_code %>
    <br><br>

    <% if user_signed_in? %>
      <% if @event.user_id == current_user.id %>
        <div class="inline"><%= link_to "Edit Your Event Information", edit_event_path, class: "button small round edit-info" %>
          <%= link_to "Delete Event", event_path, method: :delete, class: "button small round org-button" %>
        </div>
      <% else %>
        <h3>Guest List</h3>
        <% @attendees.each do |attendee| %>
        <b><%= attendee.username %></b><br>
        <% unless attendee.avatar.url.nil? %>
          <li class="picture"><%= image_tag(attendee.avatar) %></li><br>
        <% end %>
            <%= EventAttendee.find_by(user_id: attendee.id, event_id: @event.id).revup_count %>
            <%= button_to "Party Snap", event_attendee_path(EventAttendee.find_by(user_id: attendee.id, event_id: @event.id)), method:"patch", params: { up: true, event: @event }, class:"button round tiny" %>
            <%= EventAttendee.find_by(user_id: attendee.id, event_id: @event.id).revdown_count %>
            <%= button_to "Party Foul", event_attendee_path(EventAttendee.find_by(user_id: attendee.id, event_id: @event.id)), method:"patch", params: { down: true, event: @event }, class:"button round tiny" %>
          <br><br>
        <% end %>
      <% end %>

      <% if @attendees.empty? %>
        <p>Be the first to sign up!</p>
      <% end %>

      <% if @event_attendee  %>
        <%= button_to 'Cannot Attend', event_attendee_path(@event_attendee), method: :delete, class: "button small round org-button" %>
      <% else %>
        <%= button_to 'Attend', event_event_attendees_path(@event), method: :post, class: "button round tiny" %>
      <% end %>

    <% else %>
      <h3><b>You must be signed in to attend an event.<br></h3>
      <%= link_to "Sign In", new_user_session_path %>
    <% end %>
  </div>

  <div class="text-center">
    <a href="<%= events_path %>" class="button">All Events</a>
  </div>
</div>
</div>
</body>
