<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Party Foul" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/"><span style="color: #F660AB">PARTY</span><span style="color: #F3F315"><i class="fa fa-star-half-o"></i></span><span style="color: #F660AB">FOUL</span></a></h1>
        </li>
      </ul>

    <div class="contain-to-grid fixed">
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="left">
          <li><a href="<%= events_path %>">Browse All Events</a></li>
        </ul>
        <ul class="right">
          <li class="has-form">
            <div class="row collapse">
              <div class="large-8 small-9 columns">
                <input type="text" placeholder="Search">
              </div>
              <div class="large-4 small-3 columns">
                <a href="#" class="alert button expand">Search</a>
              </div>
            </div>
          </li>
          <li><%= link_to "About", about_path %></li>
          <% if user_signed_in? %>
          <li><%= link_to "Profile", "/users/#{current_user.id}" %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
          <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <% end %>
        </ul>
      </section>
    </nav>
  </div>

    <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
    <% end %>

    <%= yield %>
  </body>
  <footer>
    <div class="small-6 large-3 columns">
    <ul class="contact menu">
    <li><a href="#"><i class="fi-social-twitter"></i> Twitter</a></li>
    <li><a href="#"><i class="fi-social-facebook"></i> Facebook</a></li>
    <li><a href="#"><i class="fi-social-instagram"></i> Instagram</a></li>
    <li><a href="#"><i class="fi-social-pinterest"></i> Pinterest</a></li>
    </ul>
    </div>
  </footer>

  </html>
